:root{
    --primary-color: #ff6b6b;
    --secondary-color: #794afa;
    --secondary-dark-color: #453c5c;
    --white-color: #ffff;

    /* size */
    --padding: 15px;
    --border-radius: 5px;   
    --font-size : 20px;  
    --padding : 20px;
    --gap  : 10px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}   

.form{
    background-color: var(--white-color);
    padding: 20px;
    margin : 0 auto;
    border-radius: var(--border-radius);
    max-width: 450px;
    box-shadow: 0 0 10px 2px var(--secondary-dark-color);

    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
label{
    cursor: pointer;
    text-align: start;
}

form>*{
    /* flex-basis : 45%; */
    flex: calc(50% - var(--padding));
}

span:has(input){
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;

}
input:not([type="checkbox"], [type="radio"]), textarea, select, button{
    border: none; 
    padding: 5px;
    outline: 1px solid #453c5c;
    border-radius: 1px;;
}
textarea{
    resize: none;
}
